@import '../main.scss';

#home-page{
    height: 100vh;
}

#info-columns{
    height: 100vh;
    background-color: khaki;
}

#about{
    height: 100vh;
    background-color: $color1;
}

#who-we-help{
    height: 100vh;
}

#contact-form{
    height: 100vh;
    
}