@import '../../../../scss/main.scss';

.four-columns-container{
    height: 30vh;
    width: 100%;
    background-color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-column-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.column-thin {
    height: 100%;
  
}

.column-thin-box{
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    img{
        margin-bottom: 5px;
        height: 10vh;
    }
    h1{
        height: 20px;
        font-size: 40%;
        text-align: center;
    }
    span{
        height: 1px;
        width: 50px;
        border-bottom: 1px solid black;
    }
    p{
        margin-top: 10px;
        height: 30px;
        width: 70%;
        font-size:30%;
        text-align: center;
    }
}
