@import '../../scss/main.scss';

.nav-container{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    nav{
        width: 80%;
        height: 100%;
        align-items: center;
    }
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}


.btn-menu{
    display: flex;
    justify-content: space-between;
    li{
        width: fit-content;
        button{
            border: none;
            background-color: inherit;
            font-size: 75%;
        }
    }
}