@import '../../scss/main.scss';

.menu-container{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    nav{
        width: 50%;
        height: 100%;
        align-items: center;
    }
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
    margin-right: 40px;
}


.btn-menu{
    ul{
        width: 100%;
    }
    li{
        width: fit-content;
        button{
            border: none;
            background-color: inherit;
            font-size: 55%;
        }
    }
}