@import '../../../scss/main.scss';

.mail-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}

.inputs-wrapper{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.mail-form-input{
    display: flex;
    flex-direction: column;
}

.mail-form-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 75%;
    width: 80%;
    textarea{
        width: 98%;
        height: 80%;
    }
}