@import '../../scss/main.scss';

.bar-deco-contact {
    height: 15%;
    display: flex;
    background-color: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        padding-top: 15px;
    }
    
}